<div class="page" id="point_index" data-pageTitle="互动观点 "  data-refresh=yes>
	<section class="main" data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a herf="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center tiao">观点</h1>
			<a href="javascript:void(0)" class="menu_iocn"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
			<div class="xl_menu" style="display: none;" id="xl_menu">
				<ul >
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li >
						<a href="javascript:void(0)"  >我的</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<article>
		<div class="my_page">	
			<div class="my_page_con">
				<div class="combination_list">
					
				<div id="v_container_point">
	        	<div class="visc_wrapper" id="v_wrapper_point" data-iscrollPageId="userSpace_mySub_mySubinvest">
	        		<div class="visc_scroller">
	        			<div class="visc_pullDown" style="display:none;">
	       					<span class="visc_pullDownIcon"></span>
	       					<div class="visc_pullDownDiv">
	       						<span class="visc_pullDownLabel">下拉刷新</span><br/>
								时间更新于：<span class="visc_pullDownTime"></span>
	       				   </div>
	       			    </div>
				
					<div class="list_con list_con2 index_hot_box view_hot_box mt10" id="one">
						<div class="box_con">
					      <ul id="pointList">
					
					
						
					</ul>
				</div>
					</div>
					  <div class="visc_pullUp" style="display:none;">
	       					<span class="visc_pullUpIcon"></span>
	       					<div class="visc_pullUpDiv">
								<span class="visc_pullUpLabel">上拉加载下一页</span><br/>
								时间更新于：<span class="visc_pullUpTime"></span>
							</div>
	       			   </div>
	        		</div>
	        	</div>
	        </div>

					
				</div>
			</div>
		</div>
	  
	</article>
	 <div class="window_gray" style="display: none" id="close"></div>	<!--遮罩层 -->
</section>
</div>