<div class="page" id="point_pointDetail1" data-pageTitle="问答详情发布"  data-refresh="yes" data-isCheckLogin="true">
	<section class="main" data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a herf="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center tiao">我来评论</h1>
			<a href="javascript:void(0)" class="menu_iocn"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
			<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<article>
		<div class="my_page">
			<div class="login_box login_box2">
				<div class="textarea_box textarea_box2">
					<textarea id="comment_content" placeholder="请输入评论内容..." maxlength="120">
					</textarea>
					<span class="tips_txt" id="word">还可以输入120字</span>
				</div>
				<div class="login_btn" style="padding: 0 0.17rem">
					<a href="javascript:void(0)" class="ui button block rounded" id="submit">评论</a>
				</div>
			</div>
		</div>  
		
	</article>
	<div class="window_gray" style="display: none" id="close"></div>	<!--遮罩层 -->
</section>
</div>