<div class="page" id="point_pointDetail" data-pageTitle="观点详情"  data-refresh="yes" data-isSaveDom="false" data-urlParam="true">
	<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a herf="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center tiao">观点详情</h1>
			<!-- <a class="iocn_right view_menu"></a> -->
			<a href="javascript:void(0)" class="menu_iocn"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
			<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<article>
		<div class="my_page">
		<div class="my_page_con">
			<div class="combination_list">
				<div class="list_con list_con2">
					<ul id="pointList">
						
					</ul>
				</div>
			</div>
			<div class="answered_list answered_list2">
				<ul id="pointList1">
					
					
				</ul>
			</div>
			</div> 
		</div> 
		
	</article>
	<footer class="header">
		<div class="answer_box">
			<div class="answer_box_con">
				<div class="text_box" id="huida">
					<a href="javascript:void(0)"class="answer_btn">我来评论</a>
				</div>
				<div class="share_box clearfix">
					<a href="javascript:void(0)" class="collect_iocn" id="collect_iocn"></a>
					
				</div>
			</div>
		</div>
	</footer>
  <div class="window_gray" style="display: none" id="close"></div>	<!--遮罩层 --> 
	
</section>
</div> 