<div class="page" id="public_analysis" data-pageTitle="组合分析"  data-refresh="true">
<section class="main fixed" data-page="home">
			<header class="header">
				<div class="header_inner header_inner_02">
					<h1>持仓详情</h1>
					<a href="javascript:void(0);" class="back_btn"></a>
				</div>
			</header>
			<article>
				<div class="analysis_page">
					<div class="analysis_box">
						<div class="an_box1">
							<ul>
								<li class="ui layout clearfix">
									<div class="row_fl">
										<span>操作风格</span>
										<h3 class="ared" id="portfolio_style"></h3>
									</div>
									<div class="row_fc">
										<em id="stock_holddays_avg"></em>
										<p>平均持股天数（天）</p>
									</div>
									<div class="row_fr"></div>
								</li>
								<li class="ui layout clearfix">
									<div class="row_fl">
										<span>风险评估</span>
										<h3 class="abrown" id="stock_style"></h3>
									</div>
									<div class="row_fc">
										<em id="stock_num_avg"></em>
										<p>平均每天持股（支）</p>
									</div>
									<div class="row_fr">
										<em id="retrace_rate_year"></em>
										<p>近一年最大回撤（%）</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="an_box2">
							<h5>选股胜率</h5>
							<div class="an_box2_con clearfix">
								<div class="row_fl">
									<div class="ui layout">
										<div class="ring_box" id="profitDiv">
										<!-- 	<img src="images/ring_icon1.png"  width="46" />  -->
										</div>
										<div class="row-1">
											<span id="trade_success_rate"></span>
											<p><em id="trade_loss_sum">0</em>笔盈利交易</p>
										</div>
									</div>
								</div>
								<div class="row_fl">
									<div class="ui layout">
										<div class="ring_box" id="lossDiv">
										<!-- 	<img src="images/ring_icon2.png"  width="46" /> -->
										</div>
										<div class="row-1">
											<span id="trade_loss_rate"></span>
											<p><em id="trade_loss_sum">0</em>笔亏损交易</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="an_box3">
							<div class="ui layout chart_tit">
								<div class="row-2">
									<p>历史交易盈/亏前五个股</p>
								</div>
								<div class="row-1">
									<p><em></em>单位：万元</p>
								</div>
							</div>
							<div class="chart_con" id="investStk">
							<!-- 	<img src="images/chart_pic2.png" width="100%" /> -->
							</div>
						</div>
					</div>
					<div class="analysis_table mt10">
						<div class="table_tit">
							<h3>完整收益</h3>
						</div>
						<div class="table_con">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<!-- <tr>
									<td>
										<h4>利欧股份</h4>
										<p>数量 5100</p>
									</td>
									<td>
									
										<h5 class="ared">61.41 买入</h5>
										<p>2015.08.11</p>
									</td>
									<td>
										<h5 class="agreen">62.53 卖出</h5>
										<p>2015.08.19</p>
									</td>
									<td>
										<h5 class="ared">1.82%</h5>
										<p class="ared">盈利并跑赢大盘</p>
									</td>
								</tr> -->
								
							</table>
						</div>
					</div>
				</div>
			</article>
		</section>
</div>