<div class="page" id="adviserSpace_myPoint_createPoint" data-pageTitle="观点发布页"  data-refresh="yes" data-isCheckLogin="true">
	<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a href="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">新建观点</h1>
			<a href="javascript:void(0)" class="menu_iocn"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
			<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<article>
		<div class="my_page">
			<div class="my_page_con ceate_page">
				<div class="login_box">
					<div class="ui field border rounded">
						<input class="ui input nickname_text" id="view_name"  type="text" placeholder="字数限制在5~15" maxlength="15">
						<span class="nickname">观点名称：</span>
					</div>
					<!-- <div class="textarea_box">
						<h3>观点简介：<span>描述字数限制在20~50</span></h3>
						<textarea style="resize: none;" maxlength="50" id="view_brief"></textarea>
					</div> -->
					<div class="textarea_box mt10">
						<h3>观点内容：<span>描述字数限制在50字以上</span></h3>
						<textarea style="height:1.2rem;" id="view_content"></textarea>
					</div>
					<!-- <div class="check_box">
						<span>是否提交审核：</span>
						<div class="ui checkbox"><input type="checkbox" id="checkbox_1" checked="checked"/><label>是</label></div>
						<div class="ui checkbox"><input type="checkbox" id="checkbox_2" /><label>否</label></div>
					</div> -->
					<div class="login_btn">
						<a href="javascript:void(0)" class="ui button block rounded">完成</a>
					</div>
				</div>
			</div>
		</div>	
		
	</article>
	<div class="window_gray" style="display: none" id="close"></div>	<!--遮罩层 -->
</section>
</div>