<div class="page" id="adviserSpace_myAns_myAns" data-pageTitle="我的回答"  data-refresh="yes">
<section class="main" data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a href="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">我的回答</h1>
			<a href="javascript:void(0)" class="menu_iocn"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
			<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="top_nav">
				<div class="ui layout">
					<div class="row-1" id="myAnsWHD">
						<a href="javascript:void(0)">待回答</a>
					</div>
					<div class="row-1" id="myAns">
						<a href="javascript:void(0)" class="act">已回答</a>
					</div>
				</div>
			</div>
	</header>
	<article>
		<div class="my_page">
			<div class="my_page_con my_page_coninvest" style="margin-top:5px!important;"> 
			<div id="v_container_div">
	        	<div class="visc_wrapper" id="v_wrapper_div" data-iscrollPageId="adviserSpace_myAns_myAns">
	        		<div class="visc_scroller">
	        			<div class="visc_pullDown" style="display:none;">
	       					<span class="visc_pullDownIcon"></span>
	       					<div class="visc_pullDownDiv">
	       						<span class="visc_pullDownLabel">下拉刷新</span><br/>
								时间更新于：<span class="visc_pullDownTime"></span>
	       				   </div>
	       			    </div>
			
			<div class="answered_list">
				<ul id="myAnsList">
					
				</ul>
			</div>
			
			<div class="visc_pullUp" style="display:none;">
	       					<span class="visc_pullUpIcon"></span>
	       					<div class="visc_pullUpDiv">
								<span class="visc_pullUpLabel">上拉加载下一页</span><br/>
								时间更新于：<span class="visc_pullUpTime"></span>
							</div>
	       			   </div>
	        		</div>
	        	</div>
	        </div>
	        </div>
			</div>
	
		 
	</article>
	<div class="window_gray" style="display: none" id="close"></div>	<!--遮罩层 -->
</section>
</div>