<div class="page" id="dynamic_contest_ing" data-pageTitle="进行中大赛"  data-refresh="true">
<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner">
			<h1>赛场详情</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
			<a href="javascript:void(0);" style="display: none;" class="share_btn"></a>
		</div>
	</header>
	<article>
		 <div class="arena_con">
		 	<div class="arena_con_list">
		 		<div class="income_top_box income_top_box2 ">
						<div class="income_up ">
							<div class="up_tit ">
								<span class="check-style" id="apply_type">我要报名</span>
								<span><h3 id="dsname"  style="font-size:0.18rem;"></h3></span>
							</div>
							<div class="ranking">
								<span class="my-earnings">
									<h4>我的收益</h4>
									<strong><span id="user_income" style="font-size: 0.44rem;">--</span><span>%</span></strong>
								</span>
								<span class="my-ranking">
									<h4>我的排名/参赛人数</h4>
									<strong><span id="user_ranking" style="font-size: 0.44rem;">--</span><span>/</span><span id="act_number"><span></span></span></strong>
								</span>
								
							</div>
							<!--<strong>394.12<span>%</span></strong>
							<span class="sy_total ">总收益</span>-->
						</div>
					</div>
				<!-- <div class="arena_box arena_box_01 mt10" >
					<div class="ui layout box_tit">
						<div class="row-1">
							<h3 id="dsname"></h3>
						</div>
					</div>
					<div class="box_txt box_txt_ts">
						<p>参赛人数：<em class="ared ts" id="act_number"></em></p>
						<p>报名截止：<span id="applydata"></span><em class="ared"></em></p>
						<p>比赛时间：<span id="data"></span><em class="aorange"></em></p>
					</div>
				</div> -->
				<div class="arena_box arena_nav mt10">
					<ul id="match_select">
						<li><a href="javascript:void(0);">排行榜</a></li>
						<li><a href="javascript:void(0);">比赛动态</a></li>
						<li><a href="javascript:void(0);">参赛名单</a></li>
					</ul>
				</div>
				<div class="arena_box arena_box_03 mt10">
					<div class="ui layout box_tit2">
						<h3 >比赛信息</h3>
					</div>
					<div class="box_txt">
						<p>报名时间：<span id="applydata"></p>
						<p>比赛时间：<span id="data"></p>
						<p id="init_money"></p>
						<!-- <p><span>交易品种：</span><span id="sec_type"></span></p>
						<p>比赛最后一个交易日不能买入</p> -->
						<p id="introduction"></p>
					
					</div>
				</div>
				<div class="arena_box arena_box_03 mt10" style="display: none;">
					<div class="ui layout box_tit2">
						<h3 >奖品信息</h3>
					</div>
					<div class="box_txt" id="award_list">
					</div>
				</div>
				
				<div class="arena_box arena_box_03 mt10"  style="display: none;">
					<div class="ui layout box_tit2">
						<h3>大赛流程</h3>
					</div>
					<div class="process_list" >
						<ul class="ui layout" id="process">
							<li class="row-1 current">
								<span>报名</span>
							</li>
							
							<li class="row-1">
								<span><em>操作组合</em></span>
							</li>
							<li class="row-1">
								<span><em>获奖情况</em></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		 </div>
	</article>
</section>

</div>