<div class="page" id="ytgMatch_public_entryList" data-pageTitle="参赛名单"  data-refresh="true">
<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner">
			<h1>参赛名单</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
				<a href="javascript:void(0)" class="menu_iocn" style="display: none"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
			<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<article>
		 <div class="arena_con">
		 	<div class="entry_box_list mt10">
		 		<ul id="join">
		 			
		 		<!-- 	<li class="ui layout">
		 				<div class="lt_pic">
		 					<em><img src="images/entry_p2.png" class="circle" /></em>
		 				</div>
		 				<div class="row-1 in_txt">
		 					<p>小胡子先生</p>
		 					<p>收益：<span>67.25%</span></p>
		 				</div>
		 				<div class="rt_btn">
		 					<a href="javascript:void(0);" class="gz_btn gz_btn_act"></a>
		 				</div>
		 			</li>
		 			<li class="ui layout">
		 				<div class="lt_pic">
		 					<em><img src="images/entry_p3.png" class="circle" /></em>
		 				</div>
		 				<div class="row-1 in_txt">
		 					<p>股侠易水寒</p>
		 					<p>收益：<span>67.25%</span></p>
		 				</div>
		 				<div class="rt_btn">
		 					<a href="javascript:void(0);" class="gz_btn"></a>
		 				</div>
		 			</li> -->
		 			
		 		</ul>
		 	</div>
		 </div>
	</article>
</section>

</div>