<div class="page" id="ytgMatch_public_positionEnd" data-pageTitle="组合详情比赛已结束"  data-refresh="yes">
<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner header_inner_02">
			<h1>持仓详情</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
				<a href="javascript:void(0)" class="menu_iocn" style="display: none"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
			<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<article>
		<div class="positions_det">
		 	<div class="income_top_box">
		 		<div class="income_up">
		 			<h4>赛期收益</h4>
		 			<strong id="all_yeled"></strong>
		 		</div>
		 		<div class="income_lower">
		 			<div class="ui layout">
		 				<div class="row-1">
		 					<p>比赛排名</p>
		 					<span id="rankings"></span>
		 				</div>
		 				<div class="row-1">
		 					<p>操作风格</p>
		 					<span class="aorange" id="caozuo_style"></span>
		 				</div>
		 				<div class="row-1">
		 					<a href="javascript:void(0);" id="analysis">赛期分析</a>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="user_box clearfix">
		 		<div class="ui layout">
		 			<div class="lt_pic">
			 			<img id="small_img" src="images/my_tx.png" class="circle" />
			 		</div>
			 		<div class="row-1 rt_txt">
			 			<p id="name">陈晓东</p>
			 		</div>
		 		</div>
		 	</div>
		 	<div class="contest_info">
		 		<h3 id="match_name">十一月份模拟炒股大赛</h3>
		 	</div>
		 </div>
	</article>
</section>
</div>