<div class="page" id="account_login" data-pageTitle="登录"  data-refresh="yes">
<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner">
			<a herf="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">欢迎登录</h1>
		</div>
	</header>
	<article>
		<div class="login_page">
			<div class="login_iocn">
				<em></em>
			</div>
			<div class="login_box">
				<div class="ui field border rounded">
					<input type="text" class="ui input name_text" placeholder="请输入手机号" id="mobile" maxlength="11" />
				</div>
				<div class="ui field border rounded">
					<input type="password" class="ui input psw_text" placeholder="请输入密码" id="password" maxlength="18" onpaste="return false" oncontextmenu="return false" oncopy="return false" oncut="return false"  />
				</div>
				<div class="login_btn">
					<a href="javascript:void(0)" class="ui button block rounded" >登录</a>
				</div>
				<div class="reg_txt">
					<div class="ui layout">
						<div class="row-1">
							<a href="javascript:void(0)" id="register">免费注册</a>
						</div>
						<div class="row-1">
							<a href="javascript:void(0)" class="text-right" id="forgetPwd">忘记密码</a>
						</div>						
					</div>										
				</div>
			</div>
		<!-- 	<div class="other_login clearfix">
				<div class="other_login_tit">
					<h3 class="text-center">选择其他方式登录</h3>
				</div>
				<div class="other_login_list">
					<div class="ui layout">
						<div class="row-1">
							<a href="javascript:void(0)" class="qq_login"></a>
						</div>
						<div class="row-1">
							<a href="javascript:void(0)" class="wx_login"></a>
						</div>
						<div class="row-1">
							<a href="javascript:void(0)" class="wb_login"></a>
						</div>
					</div>	
				</div>
			</div> -->
		</div>  
	</article>
</section>
</div>