<div class="page" id="search_index" data-pageTitle="搜索"  data-refresh="yes">
<section class="main " data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a href="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">组合、问答、观点</h1>
			<a href="javascript:void(0)" class="menu_iocn"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
			<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<article>
		<div class="my_page2">
			<div class="search_text">
				<div class="ui field border rounded text">
					<input type="text" class="ui input" placeholder="请输入你要搜索的内容" id="key_words"/>
					<a href="javascript:void(0)" class="ui label"></a>
				</div>
			</div>
			<div class="grid_box adv_box1">
				<div class="top_nav">
					<div class="ui layout">
						<div class="row-1">
							<a href="javascript:void(0)" class="act">组合</a>
						</div>
						<div class="row-1">
							<a href="javascript:void(0)">问答</a>
						</div>
						<div class="row-1">
							<a href="javascript:void(0)">观点</a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 组合版块 -->
			<div class="combination_list" id="portfolio">
				<div class="list_con" >
					<ul id="portfolioList">
			
					</ul>
				</div>
			</div>
			
			<!-- 问答版块 -->
			<div class="answered_list" id="ques" style="display:none;">
				<ul id="quesList">
			
				</ul>
			</div>
			
			<!-- 观点版块 -->
				<div class="combination_list" id="point" style="display:none;">
					<div class="list_con list_con2" >
						<ul id="pointList">
			
						</ul>
					</div>
				</div>
			
		</div>  
	</article>
		<div class="window_gray" style="display: none" id="close"></div>	<!--遮罩层 -->
</section>
</div>