<div class="page" id="demo_Scroll_shouyiMax" data-pageTitle="收益最高"  data-refresh="yes">
	<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner">
			<a href="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">收益最高</h1>
		</div>
	</header>
	<article>
		<div class="my_page">
			<div class="my_page_con">
				<div class="combination_list">
				
				<div id="v_container" style="margin-top: 5px;">
				<div class="visc_wrapper" id="v_wrapper" iscrollParentId="v_container" data-iscrollPageId="demo_Scroll_shouyiMax">
		       		<div class="visc_scroller">
		       		
		       		<div class="visc_pullDown" style="display:none;">
	       					<span class="visc_pullDownIcon"></span>
	       					<div class="visc_pullDownDiv">
	       						<span class="visc_pullDownLabel">下拉刷新</span><br/>
								时间更新于：<span class="visc_pullDownTime"></span>
	       					</div>
	       			</div>
	       			
					<div class="list_con">
						<ul id="portfolioList">
							
						</ul>
					</div>
					
					<div class="visc_pullUp" style="display:none;">
	       					<span class="visc_pullUpIcon"></span>
	       					<div class="visc_pullUpDiv">
								<span class="visc_pullUpLabel">上拉加载下一页</span><br/>
								时间更新于：<span class="visc_pullUpTime"></span>
							</div>
	       			</div>
					</div>
				</div>
				</div>
					
				</div>
			</div>
		</div>  
	</article>
</section>

</div>