<div class="page" id="index" data-pageTitle="首页"  data-refresh="yes">
 <section class="main fixed tiao" data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a href="javascript:void(0)" class="icon_back" id="back"></a>
			<a href="javascript:void(0)" class="login_btn"></a>
			<a href="javascript:void(0)" class="search_btn"></a>
			<h1 class="title text-center">理财师在线</h1>
		</div>
	</header>
	<article>
	   	
	<div class="banner">
		<img src="images/banner.jpg">
	</div>

			<div class="index_nav">
				<div class="ui layout">
					<div class="row-1" id="point">
						<a href="javascript:void(0)">
							<em></em>
							<p>看观点</p>
						</a>
					</div>
					<div class="row-1" id="portfolio">
						<a href="javascript:void(0)">
							<em></em>
							<p>牛组合</p>
						</a>
					</div>
					<div class="row-1" id="adviser">
						<a href="javascript:void(0)">
							<em></em>
							<p>理财师</p>
						</a>
					</div>
					<div class="row-1" id="ques">
						<a href="javascript:void(0)">
							<em></em>
							<p>问问题</p>
						</a>
					</div>
				</div>
			</div>

		<div class="grid_box">
			<div class="combination_list">
				<div class="com_tit">
					<a href="javascript:void(0)" class="more_btn" id="portfolio"></a>
					<h3>今日热门组合</h3>					
				</div>
				<div class="list_con">
				<ul id="portfolioList">
			
					</ul>
				</div>
			</div>
		</div>
	<!-- 	<div class="grid_box">
			<div class="combination_list">
				<div class="com_tit">
					<a href="javascript:void(0)" class="more_btn" id="point"></a>
					<h3>最新观点</h3>					
				</div>
				<div class="list_con list_con2">
					 <ul id="pointList">
					</ul>
				</div>
			</div>
		</div> -->
			<div class="index_hot_box view_hot_box mt10 combination_list">
				<div class="box_tit clearfix com_tit">
					<a href="javascript:void(0)" class="more_icon"></a>
					<a href="javascript:void(0)" class="more_btn" id="point"></a>
					<h3>最新观点</h3>
				</div>
				<div class="box_con">
					<ul id="pointList">
					
					
						
					</ul>
				</div>
			</div>
		
	</article>
</section> 

</div>