<div class="page" id="adviserSpace_index" data-pageTitle="投顾 我的首页"  data-refresh="yes">
	<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a href="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">我的</h1>
			<a href="javascript:void(0)" class="menu_iocn"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
				<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<article>
		<!-- div class="my_page">
			<div class="my_tx_box clearfix">
				<div class="tx_pic">
					<img src="images/my_tx.png"  class="circle" />
				</div>
			</div>
			<div class="my_name_box">
				<p class="text-center">欢迎 :137 *** 62</p>
			</div>
			
			

		<div class="per_nav_list mt10">
				<ul>
					<li id="myAns">
						<a href="javascript:void(0)"><i></i>我的回答</a>
					</li>
					<li id="myPoint">
						<a href="javascript:void(0)"><i></i>我的观点</a>
					</li>
					<li id="myPortfolio">
						<a href="javascript:void(0)"><i></i>我的组合</a>
					</li>
				</ul>
			</div>
			
		</div>   -->
		
		
		<div class="per_page">
			<div class="per_mes_box tx_pic">
				<em><img src="../images/my_tx2.png" class="circle" /></em>
				<div class="my_name_box">
				<p class="text-center">欢迎 :137 *** 62</p>
			</div>
			</div>
			<div class="per_nav_list mt10">
				<ul>
						<li id="myAns">
						<a href="javascript:void(0)"><i></i>我的回答</a>
					</li>
					<li id="myPoint">
						<a href="javascript:void(0)"><i></i>我的观点</a>
					</li>
					<li id="myPortfolio">
						<a href="javascript:void(0)"><i></i>我的组合</a>
					</li>
				</ul>
			</div>
		</div>
		
		
	</article>
	<div class="window_gray" style="display: none" id="close"></div>	<!--遮罩层 -->
</section>
</div>