<div class="page" id="account_register_userInformation" data-pageTitle="注册"  data-refresh="yes">
<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner">
			<a herf="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">设置</h1>
		</div>
	</header>
	<article>
		<div class="login_page">
			<div class="register_iocn">
				<div class="reg_tb"></div>
			</div>
			<div class="login_box">
				<div class="ui field border rounded">
					<input type="text" class="ui input name_text" placeholder="昵称" maxlength="11">
				</div>
				<div class="ui field border rounded">
					<input type="password" class="ui input psw_text" placeholder="登录密码，不少于6位" maxlength="18"  />
				</div>
				<div class="login_btn">
					<a href="javascript:void(0)" class="ui button block rounded" id="register">完 成</a>
				</div>
				<p class="text-center tips_txt">设定云投顾账号，完善以上资料以获得更好的服务</p>
			</div>
		</div>  
	</article>
</section>
</div>