<div class="page" id="ques_quesDetail" data-pageTitle="问答详情" data-refresh="yes" data-isSaveDom="false" data-urlParam="true">
	<section class="main fixed" data-page="home">
		<header class="header">
			<div class="header_inner tiao">
				<a href="javascript:void(0)" class="icon_back"></a>
				<h1 class="title text-center tiao ">问答详情</h1>
				<a href="javascript:void(0)" class="menu_iocn"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
			<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div>
			</div>
		</header>
		<article>
			<div class="my_page2">
				<div class="answered_list answered_list2 answered_list3">
					<ul id="answered_list">
						
					</ul>
				</div>
			</div>
			
		</article>
		<footer class="header">
		<div class="answer_box">
			<div class="answer_box_con">
				<div class="text_box" id="huida">
					<a href="javascript:void(0)"class="answer_btn">我来回答</a>
				</div>
			</div>
		</div>
	</footer>
	<div class="window_gray" style="display: none" id="close"></div>	<!--遮罩层 -->
	</section>
</div>