<div class="page" id="account_register_accountAssociation" data-pageTitle="关联账户"  data-refresh="yes">
<section class="main fixed" data-page="home">

	<!-- <header class="header">
		<div class=" top_header_con" style="background:#fff;">
			<a herf="javascript:;" class="icon_back back_btn"></a>
			<h1 class="title text-center" style="color:#999999;">登录</h1>
		</div>
	</header> -->
	<article>
		<div class="login_page white_bg">
			<div class="account_gx_box">
				<em class="acc_pic"><img src="" id="weiboImg" class="circle" /></em>
				<p >亲爱的微博用户:<span id="user_name"></span></p>
				<p>为了更好的为您服务，请关联一个微证券账号</p>
				<div class="submit_tj_btn submit_tj_btn2 mt20" id="context">
					<a href="javascript:;" id="loginsso"  class="ui button block rounded">立即关联</a>
				</div>
				<p>还没有微证券账号？</p>
				<div class="submit_tj_btn mt10" id="register">
					<a href="javascript:;" id="regirster"  class="ui button block rounded">立即注册</a>
				</div>
			</div>
		</div> 
	</article>
	
	
</section>
</div>