<div class="page" id="account_register_userInformation" data-pageTitle="注册"  data-refresh="yes">
<section class="main fixed" data-page="home">
	<!-- <header class="header">
		<div class="header_inner">
			<a herf="javascript:;" class="icon_back"></a>
			 <h1>注册</h1>
		</div>
	</header>
	 -->
	<article class="logisterparent">
		<div class="login_page white_bg">
			<div class="login_box registered_box">
				<div class="login_box_list">
					<div class="ui field">
						<span class="name_text" >手机号</span>
						<input type="text" id="mobile" class="ui input" placeholder="请填写手机号码">
					</div>
					<div class="ui field ">
						<span class="name_text">验证码</span>
						<input type="text" id="yzcode" placeholder="请输入验证码" class="ui input yzm_text" >
						<a href="javascript:;" id="yangcode"  class="refresh_yzm" style="background-color:#F48C56;text-align: center;color:white">发送验证码</a>
					</div>
					<div class="ui field">
						<span class="name_text">密&nbsp; &nbsp;码</span>
						<input type="password" id="password" class="ui input" placeholder="请填写密码">
					</div>
					
				</div>
				<div class="ui radio mt10" id="radioCheck">
					<input type="radio"  id="radio_1" checked="checked">
					<label>阅读并同意<a href="javascript:;" id="contents">《微证券用户注册协议》</a></label>
				</div>
				<div class="submit_tj_btn mt15" id="register_button">
					<a href="javascript:;" class="ui button block rounded" id="register">提交</a>
				</div>
			</div>
		</div> 
	
	</article>
	<!--注册条款-->
	<div class="define_share_box" id="gtw_clause" style="display:none">
		<div class="reg_clause_box">
	    	<h2 class="clause_tit"><a href="javascript:void(0);" class="clause_close" id="close">关闭</a>微证券用户注册协议</h2>
	        <div class="clause_content">
	        <!-- 	<h1 style="text-align: center">微证券用户注册协议</h1> -->

				<h2>一、软件许可及服务协议</h2>
				<p>本着对用户负责的态度，微证券在此郑重提醒您全面了解移动终端业务可能存在的风险:</p>
				<p>1. 无线通信网、互联网并非绝对安全可靠的网络环境，可能会受到黑客攻击，病毒感染，出现服务器繁忙或故障，以及其他不可测因素导致的信息延迟、中断、错误等情况。</p>
				<p>2. 使用过程中所产生的数据流量费由当地运营商收取，与微证券无关。</p>
				<p>3. 软件所有信息仅作参考，不保证该信息全部或部分内容的准确性、真实性、完整性、有效性、及时性、原创性等。不对您构成任何投资建议，据此操作，风险自担。</p>
				<p>4. 其他因投资者个人原因或不可抗力原因导致的风险。</p>
				
				<h2>二、隐私策略</h2>
				<p>本隐私政策介绍本公司的隐私数据相关政策和惯例，这将涵盖我们如何收集、使用、处理那些通过本公司的移动App收集的关于您的个人信息。</p>
				<p>1. 本公司如何收集您的个人信息</p>
				<p>个人信息是可用于唯一识别或联系某人的数据。</p>
				<p>当您使用本公司的移动App，注册用户过程中我们将会收集您的个人信息，如：电子邮件地址、手机电话号码。为了保护个人隐私，您不应提供除本公司特别要求之外的任何其它信息。</p>
				<p>2. 本公司如何使用您的个人信息</p>
				<p>通过您的个人信息，向您发送本公司移动App的服务信息。通过您的个人信息实现密码找回功能。如果您参与抽奖、竞赛或类似推广活动，我们会将你提供的信息用于管理此类活动。</p>
				<p>3. 个人信息安全</p>
				<p>在数据传输和数据保管两个阶段里，我们会通过广为接受的行业标准（如防火墙、加密和数据隐私法律要求）来保护您向我们提交的信息。然而，没有任何一种互联网传输或电子存储方法是100%安全的。因此，尽管我们通过商业上可接受的方式来保护您的个人信息，但仍无法保证信息的绝对安全。</p>
				<p>4. 法律免责声明</p>
				<p>在法律要求的情况下，以及本公司认为必须披露与您有关的信息来保护本公司的法定权益和/或遵守司法程序、法院指令或适用于本公司的移动App的法律程序时，我们有权透露您的个人信息。</p>
				<p>如果本公司确定为了执行本公司的条款和条件或保护我们的经营，披露是合理必须的，则我们可披露与您有关的信息。</p>
	        </div>
	    </div>
	</div>
	
</section>
</div>