<div class="page" id="demo_demo1" data-pageTitle="首页"  data-refresh="yes">
	<section class="main">
		<div class="top_box">
        	<div class="logo_box"></div>
            <a href="javascript:void(0)" class="icon_user"></a>
        	<div class="cir_box"><span></span><p>我要提问</p></div>
        </div>
        <div class="top_nav">
        	<ul>
            	<li id="zkyc"><a href="javascript:void(0)"><span></span><p>众口一词</p></a></li>
                <li id="swt"><a href="javascript:void(0)"><span></span><p>搜问题</p></a></li>
                <li id="qsdr"><a href="javascript:void(0)"><span></span><p>趋势达人</p></a></li>
        	</ul>
        </div>
        <div class="qa_main">
        	<div class="qa_title">
            	<a href="javascript:void(0)" class="more"></a>
                <ul>
                	<li class="active"><a href="javascript:void(0)">最新提问</a></li>
                    <!-- <li><a href="javascript:void(0)">最新提问</a></li> -->
            	</ul>
            </div>
            <div class="qa_list" style="height:298px;"> <!-- overflow:auto; -->
                <ul class="nli" id="fill_data"></ul>
            	<ul class="nli" style="display:none;">
                	<li><a href="javascript:void(0)"><img src="images/pic.jpg" /><p>应属于设备行业,但其有核电,预示着买盘强。</p><em>刚刚</em><span>国家免检→盈利股</span></a></li>
                    <li><a href="javascript:void(0)"><img src="images/pic.jpg" /><p>应属于设备行业,但其有核电,预示着买盘强。</p><em>刚刚</em><span>国家免检→盈利股</span></a></li>
                    <li><a href="javascript:void(0)"><img src="images/pic.jpg" /><p>应属于设备行业,但其有核电,预示着买盘强。</p><em>刚刚</em><span>国家免检→盈利股</span></a></li>
                    <li><a href="javascript:void(0)"><img src="images/pic.jpg" /><p>应属于设备行业,但其有核电,预示着买盘强。</p><em>刚刚</em><span>国家免检→盈利股</span></a></li>
                    <li><a href="javascript:void(0)"><img src="images/pic.jpg" /><p>应属于设备行业,但其有核电,预示着买盘强。</p><em>刚刚</em><span>国家免检→盈利股</span></a></li>
                    <li><a href="javascript:void(0)"><img src="images/pic.jpg" /><p>应属于设备行业,但其有核电,预示着买盘强。</p><em>刚刚</em><span>国家免检→盈利股</span></a></li>
                    <li><a href="javascript:void(0)"><img src="images/pic.jpg" /><p>应属于设备行业,但其有核电,预示着买盘强。</p><em>刚刚</em><span>国家免检→盈利股</span></a></li>
                    <li><a href="javascript:void(0)"><img src="images/pic.jpg" /><p>应属于设备行业,但其有核电,预示着买盘强。</p><em>刚刚</em><span>国家免检→盈利股</span></a></li>
            	</ul>
            </div>
        </div>
	</section>
    <div class="footer">
    	<!-- <div class="qa_btn">
        	<ul>
            	<li id="wytw"><a href="javascript:void(0)">我要提问</a></li>
                <li id="djzw"><a href="javascript:void(0)">大家在问</a></li>
        	</ul>
        </div> -->
    </div>
</div>