<div class="page" id="demo_share" data-pageTitle="分享"  data-refresh="yes">
<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner">
			<a herf="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">分享</h1>
		</div>
	</header>
	<article>
		<div class="login_page">
			<div class="login_iocn">
				<em></em>
			</div>
			
			<div class="other_login clearfix">
				<div class="other_login_tit">
					<h3 class="text-center">选择分享方式</h3>
				</div>
				<div class="other_login_list">
					<div class="ui layout">
						<div class="row-1" id="QqShare">
							<a href="javascript:void(0)" class="qq_login"></a>
						</div>
						<div class="row-1" id="WxShare">
							<a href="javascript:void(0)" class="wx_login"></a>
						</div>
						<div class="row-1" id="WbShare">
							<a href="javascript:void(0)" class="wb_login"></a>
						</div>
					</div>	
				</div>
			</div>
		</div> 
		
		<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		 
	</article>
</section>
</div>