<div class="page" id="account_login" data-pageTitle="登录"  data-refresh="yes">
<section class="main fixed" data-page="home">
	<!-- <header class="header">
		<div class=" top_header_con" style="background:#fff;">
			<a herf="javascript:;" class="icon_back back_btn"></a>
			<h1 class="title text-center" style="color:#999999;">登录</h1>
		</div>
	</header> -->
	<article >
	<!-- 	<div class="login_page logins" >
			<div class="login_iocn">
				<em></em>
			</div>
			<div class="login_box">
				<div class="ui field border rounded">
					<input type="text" class="ui input name_text" placeholder="请输入手机号" id="mobile" maxlength="11" />
				</div>
				<div class="ui field border rounded">
					<input type="password" class="ui input psw_text" placeholder="请输入密码" id="password" maxlength="18" onpaste="return false" oncontextmenu="return false" oncopy="return false" oncut="return false"  />
				</div>
				<div class="login_btn">
					<a href="javascript:void(0)" class="ui button block rounded" >登录</a>
				</div>
				<div class="reg_txt">
					<div class="ui layout">
						<div class="row-1">
							<a href="javascript:void(0)" id="register">免费注册</a>
						</div>
						<div class="row-1">
							<a href="javascript:void(0)" class="text-right" id="forgetPwd">忘记密码</a>
						</div>						
					</div>										
				</div>
			</div>
		</div>  -->
			<div class="login_page white_bg  ">
			<div class="login_box">
				<div class="login_box_list">
					<div class="ui field">
						<span class="name_text">手机号</span>
						<input type="text" class="ui input"  id="mobile" maxlength="11" placeholder="请填写手机号码">
					</div>
					<div class="ui field">
						<span class="name_text">密&nbsp; &nbsp;码</span>
						<input type="password" class="ui input" id="password" maxlength="18" onpaste="return false" oncontextmenu="return false" oncopy="return false" oncut="return false"  placeholder="请填写密码">
					</div>
				</div>
				<p class="forget_psw" ><a href="javascript:;" id="forget">忘记密码</a></p>
				<div class="submit_tj_btn mt15 login_btn">
					<a href="javascript:;" class="ui button block rounded">提交</a>
				</div>
			</div>
		</div> 
		
		 
	</article>
</section>
</div>