<div class="page" id="portfolio_index" data-pageTitle="组合"  data-refresh="yes">
	<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a href="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">组合</h1>
			<a href="javascript:void(0)" class="menu_iocn"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display: none" id="close" ></a>
			<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">理财师</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<article>
	
	
<!-- 	
	<div class="menu-list clearfix" style=" margin-top: 12px;">
		<div class="menu-item" id="max"><i class="group-ico group-ico-1"></i><p>收益最高</p></div>
		<div class="menu-item" id="top"><i class="group-ico group-ico-2"></i><p>人气飙升</p></div>
		<div class="menu-item" id="today"><i class="group-ico group-ico-3"></i><p>今日黑马</p></div>
		<div class="menu-item" id="new"><i class="group-ico group-ico-4"></i><p>最新发布</p></div>
		<div class="menu-item" id="wangqi"><i class="group-ico group-ico-5"></i><p>往期回顾</p></div>
		<div class="menu-item" id="tougu"><i class="group-ico group-ico-6"></i><p>投顾组合</p></div>
		<div class="menu-item" id="minjian"><i class="group-ico group-ico-7"></i><p>民间高手</p></div>
		<div class="menu-item" id="more"><i class="group-ico group-ico-8"></i><p>今日热门</p></div>
	</div> -->
	    <div class="cb_nav_list">
				<ul class="clearfix">
					<li id="max">
						<a href="javascript:void(0)">
							<em></em>
							<p>收益最高</p>
						</a>
					</li>
					<li id="top">
						<a href="javascript:void(0)">
							<em></em>
							<p>人气飙升</p>
						</a>
					</li>
					<li id="today">
						<a href="javascript:void(0)">
							<em></em>
							<p>今日黑马</p>
						</a>
					</li>
					<li id="new">
						<a href="javascript:void(0)">
							<em></em>
							<p>最新发布</p>
						</a>
					</li>
					<li id="wangqi">
						<a href="javascript:void(0)">
							<em></em>
							<p>往期回顾</p>
						</a>
					</li>
					<li id="tougu">
						<a href="javascript:void(0)">
							<em></em>
							<p>投顾组合</p>
						</a>
					</li>
					<li id="minjian">
						<a href="javascript:void(0)">
							<em></em>
							<p>民间高手</p>
						</a>
					</li>
					<li id="todayHot">
						<a href="javascript:void(0)">
							<em></em>
							<p>今日热门</p>
						</a>
					</li>
				</ul>
			</div>
	
		<div class="grid_box">
			<div class="combination_list">
				<div class="com_tit">
					<!-- <a href="javascript:void(0)" class="more_btn"></a> -->
					<h3>今日热门</h3>					
				</div>
				<div class="list_con">
					<ul id="portfolioList" class="portfolioList">
			
					</ul>
				</div>
			</div>
		</div>
		
	</article>
	<div class="window_gray" style="display: none" id="close"></div>	<!--遮罩层 -->
</section>

</div>