<div class="page" id="portfolio_portfolioDetail" data-pageTitle="组合详情" data-urlParam="true" data-refresh="yes" data-urlParam="true" data-isSaveDom="false">
	<section class="main fixed" data-page="home">
		<header class="header">
			<div class="header_inner tiao" id="headList"></div>
		</header>
		<article id="bodyPage" style="padding-bottom:0.45rem;">
			<div class="combination_det">
				<div class="com_det_box1" id="headList1"></div>
				<div class="com_det_box3">
					<div class="tab">
						<div class="ui layout">
							<div class="row-1" id="row1">
								<a href="javascript:void(0)" class="act">持仓</a>
							</div>
							<div class="row-1" id="row2">
								<a href="javascript:void(0)">交易动态</a>
							</div>
							<div class="row-1" id="row3">
								<a href="javascript:void(0)">收益走势</a>
							</div>
						</div>
					</div>
					<div class="tab_con" id="tab_con2">
						<div class="tab_con_det1">
				          <table class="ui table">
								<tr class="HoldStockList" id="HoldStockList">
									<th>股票名称</th>
									<th>盈亏</th>
									<th>持仓/仓位</th>
									<th>成本/现价</th>
								</tr>
							</table>
						</div>
						</div>
					<div class="tab_con tab_con_det2" style="display: none;">
					<div class="det2_con" id="noData" style="display: none">
								<div class="dynamic_list" id="TradeLists">
									<table class="ui table" id="TradeListTabs">
										<tr id="TradeListnexts">
											<th>名称/代码</th>
											<th>时间/日期</th>
											<th >个股仓位</th>
											<th>成交金额</th>
										</tr>
									</table>
								</div>
							</div>
					
			
							<div class="det2_con">
								<div class="dynamic_list" id="TradeList">
									<table class="ui table" id="TradeListTab">
										<tr id="TradeListnext">
											<th>名称/代码</th>
											<th>时间/日期</th>
											<th >个股仓位</th>
											<th>成交金额</th>
										</tr>
									
									</table>
								</div>
							</div>
				
					
						</div>
					

						<div class="tab_con_det3" style="display: none;" id="box_line">
						</div>
					</div>
				</div>
			<div class="com_det_box4">
				<div class="li_tit">
					<h3>组合简介</h3>
				</div>
				<div class="int_txt" id="int_txt"></div>
			</div>
		


</article>
<footer class="header">

    </footer>
   <div class="window_gray" style="display: none" id="close"></div><!--遮罩层 -->

</section>
</div>