<div class="page" id="account_forgetPwd_checkVcode" data-pageTitle="找回密码"  data-refresh="yes">
<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner">
			<a href="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">找回密码</h1>
		</div>
	</header>
	<article>
		<div class="login_page">
			<div class="login_box register_box">
				<div class="ui field border rounded">
					<input type="text" class="ui input phone_text" placeholder="请输入6位验证码" id="mbCode" maxlength="6">
					<span class="timing" id="timing">180S</span>
				</div>
				<p class="ui notice warning">手机收到的短信验证码</p>
				<div class="login_btn">
					<a href="javascript:void(0)" class="ui button block rounded" >下一步</a>
				</div>
			</div>
		</div>  
	</article>
</section>
</div>