<div class="page" id="account_forgetPwd_checkVcode" data-pageTitle="找回密码"  data-refresh="yes">
<section class="main fixed" data-page="home">
	<!-- <header class="header">
		<div class="header_inner">
			<a href="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">找回密码</h1>
		</div>
	</header> -->
	<article>
	<article class="logisterparent">
		<div class="login_page white_bg">
			<div class="login_box registered_box">
				<div class="login_box_list">
					<div class="ui field">
						<span class="name_text" >手机号</span>
						<input type="text" id="mobile" class="ui input" placeholder="请填写手机号码">
					</div>
					<div class="ui field ">
						<span class="name_text">验证码</span>
						<input type="text" id="mbCode" placeholder="请输入验证码" class="ui input yzm_text" >
						<a href="javascript:;" id="timing"  class="refresh_yzm" style="background-color:#F48C56;text-align: center;color:white">发送验证码</a>
					</div>	
				</div>
			
				<div class="submit_tj_btn mt15">
					<a href="javascript:;" class="ui button block rounded" id="register_button">下一步</a>
				</div>
			</div>
		</div> 
	
	</article>
	</article>
</section>
</div>