<div class="page" id="account_forgetPwd_resetPwd" data-pageTitle="找回密码"  data-refresh="yes">
<section class="main fixed" data-page="home">
	<!-- <header class="header">
		<div class="header_inner">
			<a herf="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">找回密码</h1>
		</div>
	</header> -->
	<article>
		<!-- <div class="login_page">
			<div class="register_iocn">
				<div class="reg_tb"></div>
			</div>
			<div class="login_iocn">
				<em></em>
			</div>
			<div class="login_box">
				<div class="ui field border rounded">
					<input type="text" class="ui input name_text" placeholder="昵称">
				</div>
				<div class="ui field border rounded">
					<input type="password" class="ui input psw_text" placeholder="新密码，不少于6位" id="newPwd" maxlength="18"/>
				</div>
				<div class="ui field border rounded">
					<input type="password" class="ui input psw_text" placeholder="重复密码" id="rePwd" maxlength="18"/>
				</div>
				<div class="login_btn">
					<a href="javascript:void(0)" class="ui button block rounded" id="register">重 置 密 码</a>
				</div>
				<p class="text-center tips_txt">请妥善保管您的云投顾账户信息</p>
			</div>
		</div>   -->
		<article class="logisterparent">
		<div class="login_page white_bg">
			<div class="login_box registered_box">
				<div class="login_box_list">
					<div class="ui field">
						<span class="name_text" style="margin-left:0.14rem" >新密码</span>
						<input type="password"  class="ui input" placeholder="新密码，不少于6位" id="newPwd" maxlength="18">
					</div>
					<div class="ui field ">
						<span class="name_text">重复密码</span>
						<input type="password" placeholder="重复密码" id="rePwd" maxlength="18" class="ui input yzm_text" >
						<a href="javascript:;" id="timing" style="display: none;"  class="refresh_yzm" style="background-color:#F48C56;text-align: center;color:white">发送验证码</a>
					</div>	
				</div>
			
				<div class="submit_tj_btn mt15" id="reg_button" >
					<a href="javascript:;" class="ui button block rounded" id="register">重置密码</a>
				</div>
				<p class="text-center tips_txt">请妥善保管你的账户信息</p>
			</div>
		</div> 
	
	</article>
		
	</article>
</section>
</div>