<div class="page" id="userSpace_myPortfolio_createPortfolio" data-pageTitle="创建组合"  data-refresh="yes">
<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a href="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">创建组合</h1>
		</div>
	</header>
	<article>
	<div class="my_page">
		<div class="my_page_con ceate_page">
			<div class="login_box">
				<div class="ui field border rounded">
					<input class="ui input nickname_text" type="text" placeholder="字数限制在10字以内" id="name">
					<span class="nickname">组合名称：</span>
				</div>
				<div class="textarea_box">
					<h3>组合简介：<span>描述字数限制在0~50</span></h3>
					<textarea id="intro" style="resize:none;"></textarea>
				</div>
				<div class="login_btn">
					<a href="javascript:void(0)" class="ui button block rounded">完成</a>
				</div>
			</div>
		</div>
		</div>
	</article>
</section>
</div>