<div class="page" id="userSpace_myPortfolio_myPortfolio" data-pageTitle="我的组合"  data-refresh="yes" data-isCheckLogin="true">
<section class="main fixed" data-page="home">
	<header class="header">
		<div class="header_inner tiao">
			<a herf="javascript:void(0)" class="icon_back"></a>
			<h1 class="title text-center">我的组合</h1>
			<a class="adv_nav_iocn" style="display:none;"></a>
	<!-- 		<a href="javascript:void(0)" class="menu_iocn" style="display:none;"></a>
			<a href="javascript:void(0)" class="menu_iocn close_iocn" style="display:none;" id="close" ></a>
			<div class="xl_menu" style="display: none">
				<ul>
					<li>
						<a href="javascript:void(0)">首页</a>
					</li>
					<li>
						<a href="javascript:void(0)">组合</a>
					</li>
					<li>
						<a href="javascript:void(0)">投顾</a>
					</li>
					<li>
						<a href="javascript:void(0)">问答</a>
					</li>
					<li>
						<a href="javascript:void(0)">我的</a>
					</li>
				</ul>
			</div> -->
		</div>
	</header>
	<article>
	<div class="my_page">
		<div class="my_page_con">
			<div class="combination_list">
				<div class="list_con">
					<ul id="myPortfolioList">
					</ul>
				</div>
			</div>
		</div> 
		</div>
	</article>
		<div class="window_gray" style="display: none" id="close"></div>	<!--遮罩层 -->
</section>
</div>